# USE CASE
## Create a student database stored as .sqlite
Inside the database, create three tables.

- One table for students = student_id, first_name, last_name, age, gender
- Second table for courses = course_id, course_name, credits
- Third table for enrollments = enrollment_id, student_id, course_id, enrollment_date, grade

Once complete, commit and close

In [75]:
# Import necessary libraries
import pandas as pd
import sqlite3

In [76]:
# Create the database and the tables
conn = sqlite3.connect("stude.sqlite")
cur = conn.cursor()

In [79]:
# Create enrollment table

cur.execute("""
CREATE TABLE IF NOT EXISTS enrollments(
        enrollment_id INTEGER PRIMARY KEY,
        student_id INTEGER,
        course_id INTEGER,
        enrollment_date DATE NOT NULL,
        grade TEXT NOT NULL,
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (course_id) REFERENCES courses(course_id));

""")

In [78]:
# create courses table

cur.execute("""
CREATE TABLE IF NOT EXISTS courses(
        course_id PRIMARY KEY,
        course_name NOT NULL,
        credits INTEGER);

""")

In [ ]:
# Create students table
cur.execute("""
CREATE TABLE IF NOT EXISTS students(
        student_id INTEGER PRIMARY KEY AUTOINCREMENT,
        first_name TEXT NOT NULL,
        last_nam TEXT NOT NULL,
        age INTEGER,
        gender TEXT);

""")

In [ ]:
# Insert data into the tables

# insert students records
cur.execute
("""
INSERT INTO students(first_name, last_nam, age, gender)
VALUES (?, ?, ?, ?)
""", ('shawn', 'justus', 9,'M'), ('june', 'decimal', 19,'F'), ('Racheal', 'Wanjiru', 39,'F'));

# insert courses records

In [ ]:
# Connect to the database (using both the terminal and python)

In [ ]:
# View the existing tables

In [ ]:
# Select all female students

In [ ]:
# Show the two oldest students

In [ ]:
# Count the students per gender

In [ ]:
# Show the full names using an alias

In [ ]:
# Filter the data to show the age of students above 20
# Use both WHERE and HAVING as different queries

In [ ]:
# Use an inner join to show students with their course names

In [ ]:
# Find students not enrolled in any course

In [ ]:
# Perform all the joins

In [ ]:
# Explain the relationships
# If not existing, add tables to help show all the relationships